<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Example</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<!-- 상단 네비게이션 바 -->
<nav th:replace="~{common/navbar :: navbarFragment}" class="bg-white shadow-md p-4"></nav>

<div class="flex min-h-screen">
    <!-- 왼쪽 사이드바 -->
    <nav th:replace="~{common/leftSideBar :: sidebarFragment}" class="bg-gray-800 text-white w-1/5 p-4"></nav>

    <!-- 메인 콘텐츠 영역 -->
    <div class="flex-grow">
        <!-- 페이지별 콘텐츠 -->
        <main class="p-6">
            <th:block layout:fragment="content"></th:block>
        </main>
    </div>
</div>
</body>
</html>